*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-image: url('wet.jpg');
  background-size: cover; /* To cover the entire background */
  background-repeat: no-repeat; /* Prevent repeating */
  background-position: center; /* Center the image */
  opacity: 0.75;
   

}
.card{
    visibility: ;
    border: lightyellow solid 1.5px;
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #4ccae7, #0a2f26);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    text-transform: uppercase;

    padding: 10px 20px;
    outline: 0;
    border: 3px solid white;
    flex: 1;
    height: 45px;
    width: 60%;
    border-radius: 30px;
    margin-right: 14px;
    font-size: 18px;
}
.search button{
    outline: 0;
    /* padding: 15px 18px; */
    border-radius: 100%;
    font-size: 20px;
    border: 3px solid rgb(255, 255, 255);
    height:  47px;
    width: 47px;
    cursor: pointer;
}
.temp{
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.city{
    font-size: 30px;
    /* padding-bottom: 5px; */
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 13px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -5px;
}